node_modules
.next
dist
.env

# IDEs
.vscode
.idea

# arquivos específicos
avalia_samu/src/components/Vazio.tsx
Vazio.tsx
docker-compose.yml
folder-alias.json
private-folder-alias.json
docker-compose.yml
